/* ==========================================================================
   Custom CSS for Language and Identity
   Nabil Kashyap
   Roberto Vargas
   ========================================================================== */

.page-lead {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1a00+0,ff1a00+100&1+0,0.54+60 */

/*background: -moz-linear-gradient(-45deg, rgba(194, 0, 0, 0.7) 0%, rgba(194, 0, 0,0.54) 60%, rgba(194, 0, 0,0.54) 100%), url("../images/banner.jpg"); /* FF3.6-15 */
/*background: -webkit-linear-gradient(-45deg, rgba(194, 0, 0, 0.7) 0%,rgba(194, 0, 0,0.54) 60%,rgba(194, 0, 0,0.54) 100%), url("../images/banner.jpg"); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(135deg, rgba(194, 0, 0,.7) 0%,rgba(194, 0, 0, 0.54) 60%,rgba(194, 0, 0,0.54) 100%), url("../images/banner.jpg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background: url("../images/banner.jpg");
  h1 {
    display: inline-block;
    text-align: center;
    color: RGBA(194, 0, 0, 1);
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }

}

footer p {
  text-align: center;
}

span.rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#site-footer p.copyright{
    font-size: 1.1em;
}

.page-title {
    color: $red;
}

.footnotes ol {
    list-style: $green;
}

a.footnote {

    color: $green;
    font-size: 1.3em;
}

.title .post-teaser a:link {
  text-decoration: none;
}

.home p, 
.home hr{
  font-size: 24px;
  line-height: 32px;
}

.inner-wrap {  
  @include media($medium){
    margin-left: 8.5%;
  }
}



.about p, 
.about hr {
  font-size: $doc-font-size;
}

.contributor {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  -webkit-justify-content: left;
  -moz-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;

  .author-image {

    position: inherit;

    img {
      width: 150px;
      height: 150px;
      border-radius: $border-radius;
    }
  }

  .author-content {
    padding: 0 2em 0 2em;
    max-width: $max-width - em(300);

    p.author-bio {
      
      margin-bottom: 1em;

      span { 
        font-family: $heading-font;
        font-weight: 800;
      }
    }
  }

  .author-name {

    @include media($medium){
      margin: 0;      
    }
    font-family: $heading-font;
  }

  hr {
    margin: 0 0 2em 0;
  }

}

/*
modified css for post-grid images and text
*/

div.tiles {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  
  padding: 1em 0 2em 0;
}

article.tile {
  width: 250px;
  margin: unset;
}

article.tile a.post-teaser {

  background-color: RGBA(251, 174, 92, 1);
  /*background-color: RGBA(251, 174, 92, 1);*/
  text-decoration: none;

  & h2 {

    margin: unset;
    display: block;
    padding: 0 .5em;
    color: $white;

    /*&:hover {
      color: lighten($white,20);
    }*/
  }
}